{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <div class="col-9">

                <!-- Start Pet Photo Post Section -->


                <div class="card" id="{{ post.id }}">

                    <!-- Start User Details and Image Location -->
                    <div class="top">
                        <div class="userDetails">
                            <!-- Link to User Profile Page -->
                            <a href="#">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            {% if post.author.profile.image %}
                                                <img src="/media/{{ post.author.profile.image }}" alt="img8">
                                            {% else %}
                                                <img src="{% static 'images/person.png' %}" alt="img8">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h3>
                                <!-- Link to User Profile Page -->
                                <a href="#">
                                    {% if post.author.first_name and post.author.last_name %}
                                        {{ post.author.first_name }} {{ post.author.last_name }}
                                    {% else %}
                                        {{ post.author.username }}
                                    {% endif %}
                                </a>
                                <br>
                                <!-- if the photo has location -->
                                <a href="#">@{{ post.author.username }}</a>
                                <span>{{ post.location }}</span>
                                <!-- Date of Publication -->
                                <h5 class="postTime">{{ post.date|date:"d/m/Y" }}</h5>

                            </h3>
                            {% if object.author.pk == request.user.id %}

                                <div class="edit-delete-btns">
                                    <!-- Link to Edit Pet Photo Page -->
                                    <a href="{% url 'edit_post' object.pk %}">
                                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                             alt="edit button">
                                    </a>

                                    <!-- Link to Delete Pet Photo Page -->
                                    <a href="{% url 'delete_post' object.pk %}">
                                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                             alt="bin button">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End User Details and Image Location -->
                    <!-- Photo description -->
                    <div class="decription">
                        <p class="pet-details">{{ object.content }}</p>
                        {% for group in object.groups.all %}
                            <a href="#">
                                <p class="message">
                                    <b>#{{ group.name }}</b>

                                </p>
                            </a>
                        {% endfor %}

                    </div>

                    <div class="imgBx" id="place the id of the photo here">
                        <img src="{{ object.image_url }}" alt="post" class="cover">
                    </div>

                    <!-- Start Like and Share Buttons -->
                    <div class="bottom">
                        <div class="actionBtns">
                            <div class="left">
                                <!-- Start Like Button -->
                                <span class="heart like-container" data-post-id="{{ object.pk }}">
                                            <button class="like-button" data-post-id="{{ object.pk }}"
                                                    data-action="{% if object in user.liked_posts.all %}dislike{% else %}like{% endif %}"
                                                    style="background-color: transparent; border: none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     fill="currentColor"
                                                     class="bi {% if object in user.liked_posts.all %}bi-heart-fill{% else %}bi-heart{% endif %}"
                                                     viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd " id="heart-icon{{ object.id }}"
                                                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                          fill="{% if object in user.liked_posts.all %}red{% else %}black{% endif %}">

                                                    </path>
                                                </svg>
                                            </button>
                                    </span>

                                <a onclick="copyToClipboard('{{ request.META.HTTP_REFERER }}#{{ post.pk }}')" >
                                    <svg aria-label="Share Post" class="_8-yf5 " color="#262626" fill="#262626"
                                         height="24" role="img" viewBox="0 0 48 48" width="24">
                                        <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3
										3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6
										1 1.2 1.1h.2c.5 0 1-.3
										1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2
										6.1h35.5L18 18.7 5.2 6.1zm18.7
										33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                                        </path>
                                    </svg>
                                </a>
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 512 512">
                                        <path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"/>
                                    </svg>
                                </a>

                            </div>
                        </div>
                        <!-- End Like and Share Buttons -->

                        <!-- Number of Likes per Photo -->
                        <div class="comment-like-info">
                            <p class="likes"><strong id="numLike{{ post.pk }}">{{ post.likes.count }}</strong> likes
                            </p>
                            <p class="likes"><strong>{{ post.comments.count }}</strong> comments</p>
                        </div>

                        <div id="commentsContainer">
                            {% for comment_object in object.comment_set.all %}
                                <div class="comments" id="comment{{ comment_object.pk }}">
                                    <div class="top">
                                        <div class="userDetails">
                                            <div class="comment-data">
                                                <div class="profilepic">
                                                    <div class="profile_img">
                                                        <div class="image">
                                                            <!-- User Profile Image -->
                                                            <a href="{% url 'details_profile' username=comment_object.user.username %}">
                                                                {% if comment_object.user.profile.image %}
                                                                    <img src="/media/{{ comment_object.user.profile.image }}"
                                                                         alt="img8">
                                                                {% else %}
                                                                    <img src="{% static 'images/person.png' %}"
                                                                         alt="img8">
                                                                {% endif %}
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <!-- Link to User Profile Details Page-->
                                                    <!-- User First and/or Last Name or username-->
                                                    <a href="{% url 'details_profile' username=comment_object.user.username %}"
                                                       style="font-weight: bold ">
                                                        {% if  comment_object.user.profile.first_name and comment_object.user.profile.last_name %}
                                                            {{ comment_object.user.profile.first_name }}
                                                            {{ comment_object.user.profile.last_name }}
                                                        {% else %}
                                                            {{ comment_object.user.username }}
                                                        {% endif %}
                                                    </a>
                                                    <!-- User Comment -->
                                                    {{ comment_object.comment }}
                                                </p>
                                            </div>
                                            <span>{{ comment_object.timestamp }}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Comments Section -->
                            {% endfor %}

                        </div>
                    </div>

                    <!-- Start Add Comments Section -->
                    <div class="addComments">
                        <div class="reaction">
                            <h3>
                                <i class="far fa-smile"></i>
                            </h3>
                        </div>

                        <!-- Start Add Comments Form -->
                        <form id="commentForm" data-url="{% url 'add_comment' object.pk %}">
                            {% csrf_token %}
                            <textarea name="comment" id="commentInput" placeholder="Your comment" required></textarea>
                            <button id="postCommentButton">Post</button>
                        </form>
                        <!-- End Add Comments Form -->

                    </div>
                    <!-- End Add Comments Section -->

                </div>

            </div>
        </div>

    </main>
{% endblock %}