{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
            <div class="col-9">

                <form class="searchbar" method="get">
                    <input type="text" name="search_query" value="{{ search_query }}"
                           placeholder="Search by Group Name...">
                    <button type="submit">
                        <img src="/static/images/search.png" height="18" alt="img2">
                    </button>
                </form>

                <div class="card group">

                    <div class="top">
                        <div class="userDetails groupDetails">
                            <div class="group-info">
                                <div>

                                    <h3>
                                        <h1 style="color: #403e3e;">
                                            Create a group

                                        </h1>
                                    </h3>

                                </div>
                            </div>


                            <a class="create" href="{% url 'group_create' %}">
                                Create
                            </a>

                        </div>
                    </div>
                    >

                </div>
                {% for group in object_list %}

                    <div class="card group">

                        <!-- Start User Details and Image Location -->
                        <div class="top">
                            <div class="userDetails groupDetails">
                                <div class="group-info">
                                    <a href="{% url 'group_details' group.pk %}">
                                        <div class="profilepic">
                                            <div class="profile_img">
                                                <div class="image">

                                                    <img src="/media/{{ group.image }}" alt="img8">


                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div>

                                        <h3>
                                            <!-- Link to Group Profile Page -->
                                            <a href="{% url 'group_details' group.pk %}">
                                                {{ group.name }}

                                            </a>
                                            <span class="postTime">.<strong id="members{{ group.pk }}">{{ group.users.count }}</strong> Members</span>
                                            <br>
                                            <!-- if the group has info -->
                                            <span>{{ group.description }}</span>
                                        </h3>
                                    </div>
                                </div>

                                {% if user != group.created_by %}
                                    {% if user in group.users.all %}
                                        <button class="join" data-group-id="{{ group.pk }}" data-action="leave" data-details="group">
                                            Leave
                                        </button>
                                    {% else %}
                                        <button class="join" style="background-color: #A2FF86" data-group-id="{{ group.pk }}"
                                           data-action="join">
                                            Join
                                        </button>
                                    {% endif %}
                                {% endif %}

                                </h3>
                            </div>
                        </div>
                        <!-- End User Details and Image Location -->
                        <!-- Photo description -->

                    </div>

                {% endfor %}

                {% if is_paginated %}
                    <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                    </div>
                {% endif %}
            </div>

        </div>
        <!-- You can add pagination links if needed -->

    </main>
{% endblock %}