{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="post">
                <input type="text" placeholder="Search by group name...">
                <button>
                    <img src="/static/images/search.png" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
            <!-- Start First Pet Photo Post -->
            <div class="card group">

                <!-- Start User Details and Image Location -->
                <div class="top">
                    <div class="userDetails groupDetails">
                        <div class="group-info">
                            <a href="#">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/bltf0b93cb486fdeb3b/6359eec0cde6e8109cc3b835/Warwick_TurnTable_img.jpg" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div>
                               
                                <h3>
                                    <!-- Link to Group Profile Page -->
                                    <a href="#">
                                        <!-- if user has first name and last name -->
                                        Bulgaria
                                        <!-- else -->
                                        <!-- show user username -->
                                        
                                    </a>
                                    <span class="postTime">.200 Members</span>
                                    <br>
                                    <!-- if the group has info -->
                                    <span>This is very cool group!</span>
                            </div>
                        </div>
                        
                        <!-- Link to User Profile Page -->
                        
                            <button class="join">
                                Join
                            </button>

                        </h3>
                    </div>
                </div>
                <!-- End User Details and Image Location -->
                <!-- Photo description -->
                
            </div>
            <div class="card group">

                <!-- Start User Details and Image Location -->
                <div class="top">
                    <div class="userDetails groupDetails">
                        <div class="group-info">
                            <a href="#">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/bltf0b93cb486fdeb3b/6359eec0cde6e8109cc3b835/Warwick_TurnTable_img.jpg" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div>
                               
                                <h3>
                                    <!-- Link to Group Profile Page -->
                                    <a href="#">
                                        <!-- if user has first name and last name -->
                                        Bulgaria
                                        <!-- else -->
                                        <!-- show user username -->
                                        
                                    </a>
                                    <span class="postTime">.200 Members</span>
                                    <br>
                                    <!-- if the group has info -->
                                    <span>This is very cool group!</span>
                            </div>
                        </div>
                        
                        <!-- Link to User Profile Page -->
                        
                            <button class="join">
                                Join
                            </button>

                        </h3>
                    </div>
                </div>
                <!-- End User Details and Image Location -->
                <!-- Photo description -->
                
            </div>
            <div class="card group">

                <!-- Start User Details and Image Location -->
                <div class="top">
                    <div class="userDetails groupDetails">
                        <div class="group-info">
                            <a href="#">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/bltf0b93cb486fdeb3b/6359eec0cde6e8109cc3b835/Warwick_TurnTable_img.jpg" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div>
                               
                                <h3>
                                    <!-- Link to Group Profile Page -->
                                    <a href="#">
                                        <!-- if user has first name and last name -->
                                        Bulgaria
                                        <!-- else -->
                                        <!-- show user username -->
                                        
                                    </a>
                                    <span class="postTime">.200 Members</span>
                                    <br>
                                    <!-- if the group has info -->
                                    <span>This is very cool group!</span>
                            </div>
                        </div>
                        
                        <!-- Link to User Profile Page -->
                        
                            <button class="join">
                                Join
                            </button>

                        </h3>
                    </div>
                </div>
                <!-- End User Details and Image Location -->
                <!-- Photo description -->
                
            </div>

            

        </div>
    </div>
</main>
{% endblock %}