{% extends 'base.html' %}
{% block content %}

<!-- Starts Main Section -->
<main>

    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>BMW Club BG</h1>

            <!-- Start Register Form -->
            <form action="" method="post">
                {{ form }}
                {% csrf_token %}

                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->

</main>
<!-- End Main Section -->

{% endblock %}